body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
    margin: 0 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    width: 300px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
